@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  background-color: #EEEEEE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: 'IBM Plex Mono', monospace, Arial, Helvetica;
}

.card-header {
  background-color:#585858;
  color: white;
  font-family: 'IBM Plex Mono', monospace, Arial, Helvetica;
}

.card-infos {
  padding: 30px;
}